.headline {
    font-family: 'Exo2';
    font-weight: 600;
    line-height: 1.25;
    color: $text-color-first;

    &--typo-xxl {
        font-size: $headline-size-xxl;  
    }
    &--typo-xl {
        font-size: $headline-size-xl;
    }
    &--typo-l {
        font-size: $headline-size-l;
        @include mobile {
            font-size: 18px;
        }
    }

    &--color-white {
        color: $color-white;
    }
}

.body-text {
    font-family: 'PT Sans';
    font-weight: 400;
    color: $text-color-second;
    &--typo-l {
        font-size: $body-size-l;
        @include mobile {
            font-size: 15px;
        }
    }
    &--typo-m {
        font-size: $body-size-m;
    }
    &--bg-white {
        color: $color-white;
    }
}

.text-margin {
    &--4xl {
        margin-bottom: rem(90);
    }
    &--xxxl {
        margin-bottom: rem(56);
    }

    &--xxl {
        margin-bottom: rem(48);
    }

    &--xl {
        margin-bottom: rem(40);
    }
    &--l {
        margin-bottom: rem(32);
    }
    &--m {
        margin-bottom: rem(24);
    }
    &--s {
        margin-bottom: rem(16);
    }
    &--xs {
        margin-bottom: rem(12);
    }
}

.table-text {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 14px;
    color: $text-color-second;
    &--m {
        font-size: 15px;
    }
    &--l {
        font-size: 16px;
    }
    &--color-strong {
        color: $text-color-first;
    }
    &--bold {
        font-weight: 700;
        color: $text-color-first;
    }
}