.communicate {
    background-image: url('../assets/img/communicate-bg.jpg');
    margin-bottom: $offset-section-l;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    
    @include tablet {
        background-image: none;
    }
    &-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: rem(56) rem(64) rem(56);
        max-width: 60%;
        background-color: $main-color;

        @include tablet {
            min-width: 100%;
        }

        &__textarea {
            resize: none;
            width: 100%;
            height: 220px;
            background-color: transparent;
            border: none;
            font-family: 'PT Sans';
            font-weight: 400;
            font-size: 16px;
            color: $color-white;
            background-image: url('../assets/img/bg-textarea.png');
            background-position: top;
            line-height: 48px;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: $color-white;
            }
            
        }

        &__attach {
            width: 100%;
            display: block;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            padding-bottom: 19px;
            -webkit-tap-highlight-color: transparent;
            cursor: pointer;
            & > input[type='file'] {
                display: none;
            }
    
            span {
                padding-left: 38px;
            }
        }
    }

    &-attach__body {
        background-size: 21px;
        background-repeat: no-repeat;
        background-position: center left;
    }
}