.contacts {
    padding-top: $offset-section-l;
    padding-bottom: $offset-section-l;
    &--wrapper {
        display: flex;
        justify-content: space-between;
        @include tablet {
            flex-wrap: wrap;
            gap: 64px;
        }
    }
    &-list {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: rem(44);
        &__item {
            background-repeat: no-repeat;
            background-size: 30px;
            background-position: left;
        }
    }
    &-navigation {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-left: 60px;
        &__first {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.5;
            color: $text-color-second;            
        }
        &__second {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: $text-color-first;    
        }
    }

    &-table {
        &--desktop {
            border-collapse: collapse;
            @include mobile {
                display: none;
            }
        }
        max-width: 794px;
        background-color: $gray-color-table;
        padding: 0px 72px 0px 48px;
        border-radius: 5px;
        &__head {
            border-bottom: 1px solid #E9EAF2;
            & tr > th:first-child {
                width: 40%;
            }
            & tr > th {
                padding: 40px 0px 16px;
                text-align: start;
            }
        }

        &__body {
            & > tr:not(:last-child) {
                border-bottom: 1px solid #E9EAF2;
            }
            & > tr > td {
                padding: 32px 0px 16px;
            }
        }
    }
}

.contacts-table__text--mobile {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.contacts-table__body--mobile {
    tr > td > div:not(:last-child) {
        border-bottom: 1px solid $gray-color-200;
    }
    tr > td > div {
        padding: 24px 0;
    }
}

.contacts-table--mobile {
    display: none;
    @include mobile {
        display: block;
    }
}