.customers {
    background-image: url('../assets/img/customers-bg.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2%;
    @include mobile {
        padding: 32px 15px;
    }
    @include tablet {
        flex-wrap: wrap;
        gap: 48px;
    }
    &-text {
        color: $color-white;
    }
    &-table {
        max-width: 680px;
        border-radius: 8px;
        background-color: $color-white;
        padding: 30px 32px 40px;
        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 32px;
            border-bottom: 1px solid $gray-color-100;
        }
        &__descr {
            font-family: 'PT Sans';
            max-width: 290px;
            font-weight: 400;
            font-size: 11px;
            line-height: 1.5;
            color: $text-color-second;
            @include mobile {
                display: none;
            }
        }
        &__table {
            @include mobile {
                display: none;
            }
            border-collapse: collapse;
        }
        &__theader {
            background-color: $main-color;
            tr > {
                padding: 15px;
            }
            tr > th:not(:last-child) {
                
                border-right: 1px solid rgba(0, 0, 0, 0.2);
            }
            tr > th {
                color: $color-white;
                font-size: 16px;
                line-height: 1.5;
                padding: 15px 0;
            }
        }
        &__tbody {
            tr > td:not(:last-child) {
                border-right: 1px solid rgba(0, 0, 0, 0.2);
            }
            tr > td {
                padding: 24px 16px;
                background-color: $gray-color-table;
            }
            tr:not(:last-child) {
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.customers-table__table--mobile {
    display: none;
    @include mobile {
        display: block;
    }
}

.customers-table__theader--mobile {
    tr > th {
        border-radius: 2px;
        text-align: left;
        padding-left: 16px;
        font-size: 15px;
    }
}

.customers-table__tbody--mobile {
    tr > td > div:not(:last-child) {
        padding-bottom: 24px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    tr > td > div:not(:first-child) {
        padding-top: 16px;
    }
}
.customers-tbody__text--moblie {
    display: flex;
    gap: 16px;
}