.finished {
    padding-bottom: rem(130);

    &-text {
        &__descr {
            max-width: 465px;
        }
    }

    &-slider {
        display: flex;
        flex-direction: column;  
        align-items: center;
        gap: rem(56);
    }
}