.files-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 40px;
    height: 40px;
    background-color: $main-color;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    transition: $transition;
    &:hover {
        background-color: darken($main-color, 2) ;
    }
    &:active {
        transform: translateY(2px);
    }
}
input[type=file] {
    display: none;
}