.btn {
    font-size: 16px;
    color: $color-white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: $transition;
    &--communicate {
        background-color: $color-white;
        color: $main-color;
        &:hover {
            background-color: #eee ;
        }
    }
    &--data {
        background-color: $main-color;
        &:hover {
            background-color: darken($main-color, 2) ;
        }
    }

    &:active {
        transform: translateY(2px);
    }
}