.radio {
    position: relative;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #cbcbcd;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
    &::before {
        content: "";
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $main-color;
        transition: $transition;
    }
}