.stages-card {
    position: relative;
    min-height: rem(245);
    background-color: $color-white;
    box-shadow: $box-shadow;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
    @include tablet {
        justify-content: flex-start;
    }
    &::before {
        content: "";
        position: absolute;
        display: block;
        width: rem(108);
        height: rem(108);
        background: $color-white;
        box-shadow: inset -8px 0px 10px -5px rgba(0, 0, 0, 0.12);
        border-radius: 50%;
        left: -5%;
        top: 50%;
        transform: translateY(-50%) translateX(5%);
    }
    &__index {
        z-index: 11;
        position: absolute;
        top: 50%;
        left: -3%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(68);
        height: rem(68);
        background-color: $main-color;
        border-radius: 50%;
        color: $color-white;
        font-size: rem(38);
        line-height: 1.25;
        transform: translateY(-50%) translateX(3%);
        @include mobile {
            width: 52px;
            height: 52px;
        }
    }
    &__text {
        max-width: 568px;
        @include tablet {
            padding-top: rem(40);
            padding-bottom: rem(48);
            padding-left: rem(90);
            padding-right: rem(20);
            max-width: 492px;
        }
        @include mobile {
            max-width: 100%;
        }
    }
    &__img {
        width: 331px;
        height: 181px;
        border-radius: 5px;
        overflow: hidden;
        img {
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
            object-position: center;
        }
        @include tablet {
            display: none;
        }
    }
}