@import '../scss/function';

// var
$wrapper: 1240px;


$color-white: #fff;
$main-color: #0b7572;
$accent-color: #ffce50;
$gray-color-200: #e9e9ec;
$gray-color-100: #d7d7dd;
$gray-color-table: #f9f9fb;
$text-color-first: #363738;
$text-color-second: #6b6b6c;
$body-color: #c4c4c4;

$headline-size-xxl: rem(52);
$headline-size-xl: rem(48);
$headline-size-l: 20px;

$body-size-l: 16px;
$body-size-m: 14px;

$offset-section-l: rem(130);
$offset-section-m: rem(100);

$transition: .25s ease-out;
$box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);